In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('data.csv')

In [11]:
# import numpy as np
# import pandas as pd

def RSI(dataframe, period):
    '''
    Computes the RSI of a given price series for a given period length
    :param dataframe:
    :param period:
    :return dataframe with rsi:
    '''

    # TODO:---
    # for symbol in dataframe:
    #     all_prices = dataframe[symbol].close
    # ---

    # dataframe["RSI"] = dataframe.apply(lambda row: RSI)
    rsi = []

    for stock in dataframe['Symbol'].unique():
        all_prices = dataframe[dataframe['Symbol'] == stock]['Close']
        diff = np.diff(all_prices) # length is 1 less than the all_prices
        for i in range(period):
            rsi.append(None) # because RSI can't be calculated until period prices have occured

        for i in range(len(diff) - period + 1):
            avg_gain = diff[i:period + i]
            avg_loss = diff[i:period + i]
            avg_gain = abs(sum(avg_gain[avg_gain >= 0]) / period)
            avg_loss = abs(sum(avg_loss[avg_loss < 0]) / period)
            if avg_loss == 0:
                rsi.append(100)
            elif avg_gain == 0:
                rsi.append(0)
            else:
                rs = avg_gain / avg_loss
                rsi.append(100 - (100 / (1 + rs)))

    dataframe['RSI'] = rsi
    return dataframe


def PROC(dataframe, period):
    '''
    Computes the PROC(price rate of change) of a given price series for a given period length
    :param dataframe:
    :param period:
    :return proc:
    '''

    
    proc = []

    for stock in dataframe['Symbol'].unique():
        all_prices = list(dataframe[dataframe['Symbol'] == stock]['Close'])
        for i in range(period):
            proc.append(None) # because proc can't be calculated until period prices have occured
#         print(all_prices, "THEN LEN", len(all_prices))
#         print(all_prices[2])
        for i in range(len(all_prices) - period):
            if len(all_prices) <= period:
#                 print("This shouldn't be happening lololol", len(all_prices))
                proc.append(None)
            else:
#                 print("STOCK:", stock)
#                 print("INDEX:", i)
#                 print("LENGTH:", len(all_prices))
#                 print("WHAT WE HAVE SOFAR (LAST 3):", proc[-3:])
                proc.append((all_prices[i + period] - all_prices[i]) / all_prices[i])

    dataframe['PROC'] = proc
    return dataframe

#computes the stochastic oscillator 
def s_o(close, low, high):
    return 100 * (close - low)/(high - low)

def SO(df, intervall):
    
    df['SO'] = np.nan
    high = df.ix[1, 'High']
    low = df.ix[1, 'Low']
    lasth = 0
    lastl = 0
    
    for i in range(1,len(df)):
        
        if lasth < i - intervall or high <= df.ix[i, 'High']:
            high = np.max(df['High'][i-intervall:i])
            lasth = i
        if lastl < i - intervall or low <= df.ix[i, 'Low']:
            low = np.min(df['Low'][i-intervall:i])
            lastl = i
        
        if df.ix[i, 'Date'] != df.ix[(i-1), 'Date']:
            df.ix[i, 'SO'] = s_o(df.ix[i, 'Close'], low, high)
        else:
            df.ix[i, 'SO'] = df.ix[i-1, 'SO']
    return df

def Williams_R(dataframe, period):
    '''
    Williams %R
    Calculates fancy shit for late usage. Nice!

    EXAMPLE USAGE:
    data = pandas.read_csv("./data/ALL.csv", sep=",",header=0,quotechar='"')
    wr = Williams_R(data)
    print(wr)

    '''
    wr = []
    for stock in dataframe['Symbol'].unique():
        all_prices = list(dataframe[dataframe['Symbol'] == stock]['Close'])
        for i in range(period):
            wr.append(None) # because proc can't be calculated until period prices have occured
            
        for i in range(period-1,len(all_prices)-1):
            C = all_prices[i]
            H = max(all_prices[i-period+1:i])
            L = min(all_prices[i-period+1:i])
            wr_one = (
                ((H - C) 
                 / (H - L)) * -100
            )
            if wr_one <=-100:
                wr.append(-100)
            else:
                wr.append(wr_one)
    dataframe["WR"] = wr
    return dataframe

def On_Balance_Volume(dataframe):
    '''
    Williams %R
    Calculates fancy shit for late usage. Nice!

    EXAMPLE USAGE:
    data = pandas.read_csv("./data/ALL.csv", sep=",",header=0,quotechar='"')
    wr = Williams_R(data)
    print(wr)

    '''
    obv = []
    obv.append(dataframe.iloc[0]["Volume"])
    for i in range(1,len(dataframe)):
        C_old = dataframe.iloc[i-1]["Close"]
        C = dataframe.iloc[i]["Close"]
        if(C > C_old):
            obv.append(obv[i-1]+dataframe.iloc[i]["Volume"])
        elif (C < C_old):
            obv.append(obv[i - 1] - dataframe.iloc[i]["Volume"])
        else:
            obv.append(obv[i-1])

    return obv

# data = pd.read_csv("./data/ALL.csv", sep=",",header=0,quotechar='"')
# print(data)
# obv = On_Balance_Volume(data)
# print(obv)

In [3]:
data = PROC(data, 14)
print("PROC: Done")
data = RSI(data,14)
print("RSI: Done")
#data = SO(data,3)
#print("SO: Done")

/usr/lib/python3/dist-packages/ipykernel/__main__.py:69: RuntimeWarning: invalid value encountered in double_scalars
/usr/lib/python3/dist-packages/ipykernel/__main__.py:69: RuntimeWarning: divide by zero encountered in double_scalars

PROC: Done
RSI: Done

In [12]:
data = Williams_R(data, 14 )
print("Williams_R: Done")

/usr/lib/python3/dist-packages/ipykernel/__main__.py:124: RuntimeWarning: divide by zero encountered in double_scalars
/usr/lib/python3/dist-packages/ipykernel/__main__.py:124: RuntimeWarning: invalid value encountered in double_scalars

Williams_R: Done

In [13]:
print(data.head(300))

           Date   Open   High    Low  Close      Volume Symbol          WR
0    2010-01-04  31.39  31.63  31.13  31.30   2729240.0      A         NaN
1    2010-01-05  31.21  31.22  30.76  30.96   2994237.0      A         NaN
2    2010-01-06  30.85  31.00  30.76  30.85   2320299.0      A         NaN
3    2010-01-07  30.78  30.82  30.50  30.81   2213927.0      A         NaN
4    2010-01-08  30.64  30.85  30.40  30.80   2670856.0      A         NaN
5    2010-01-11  30.88  31.05  30.67  30.82   3420258.0      A         NaN
6    2010-01-12  30.56  30.65  30.22  30.45   2053677.0      A         NaN
7    2010-01-13  30.47  30.78  30.05  30.69   2445558.0      A         NaN
8    2010-01-14  30.59  31.24  30.50  31.15   4408930.0      A         NaN
9    2010-01-15  31.22  31.36  30.33  30.43   3309434.0      A         NaN
10   2010-01-19  30.36  30.83  30.35  30.80   2549092.0      A         NaN
11   2010-01-20  30.53  30.67  30.19  30.63   3282598.0      A         NaN
12   2010-01-21  31.00  31.11  30.18  30.52   4350005.0      A         NaN
13   2010-01-22  30.35  30.35  29.09  29.17   3049371.0      A         NaN
14   2010-01-25  29.42  29.65  29.23  29.45   2581167.0      A -100.000000
15   2010-01-26  29.37  29.50  28.98  29.29   1929019.0      A  -85.858586
16   2010-01-27  29.20  29.29  28.73  29.17   3120255.0      A  -93.939394
17   2010-01-28  29.13  29.37  28.49  28.69   3532089.0      A -100.000000
18   2010-01-29  28.93  29.17  27.92  28.03   4236738.0      A -100.000000
19   2010-02-01  28.16  29.32  28.13  29.13   4001809.0      A -100.000000
20   2010-02-02  29.22  29.59  29.09  29.50   4209397.0      A  -64.743590
21   2010-02-03  29.39  29.89  29.36  29.54   4353100.0      A  -52.884615
22   2010-02-04  29.30  29.45  28.94  29.07   4744169.0      A  -51.602564
23   2010-02-05  28.91  29.26  28.18  29.17   6828734.0      A  -62.454874
24   2010-02-08  29.21  29.68  29.13  29.20   4952879.0      A  -58.844765
25   2010-02-09  29.53  29.72  29.18  29.41   3684273.0      A  -55.000000
26   2010-02-10  29.46  29.49  28.88  29.25   2328789.0      A  -44.578313
27   2010-02-11  29.25  29.61  28.77  29.36   4994537.0      A  -19.205298
28   2010-02-12  30.65  30.74  29.57  29.98   8195874.0      A  -11.920530
29   2010-02-16  30.24  30.34  29.97  30.25   4692010.0      A   29.139073
..          ...    ...    ...    ...    ...         ...    ...         ...
270  2011-01-28  42.50  42.52  40.88  40.98   3629896.0      A  -69.597070
271  2011-01-31  41.21  41.83  40.89  41.83   3690963.0      A -100.000000
272  2011-02-01  42.07  42.70  41.93  42.05   3388291.0      A  -74.777448
273  2011-02-02  41.75  41.91  40.82  41.23   3970763.0      A  -68.249258
274  2011-02-03  40.93  41.18  40.23  40.99   3522732.0      A  -92.581602
275  2011-02-04  41.11  43.13  40.94  42.99   5197733.0      A  -99.703264
276  2011-02-07  43.45  44.66  43.37  44.44   4569897.0      A  -40.356083
277  2011-02-08  44.65  44.71  43.83  44.17   3734509.0      A   72.139303
278  2011-02-09  44.01  44.17  43.16  43.43   3779364.0      A   -7.803468
279  2011-02-10  43.22  44.01  42.57  44.00   3275726.0      A  -29.190751
280  2011-02-11  43.77  45.15  43.65  45.02   4436007.0      A  -12.716763
281  2011-02-14  45.00  45.42  44.72  44.79   3484499.0      A   16.763006
282  2011-02-15  44.79  45.00  42.64  42.65   7328064.0      A   -5.693069
283  2011-02-16  42.90  43.60  42.70  43.57   4159854.0      A  -58.663366
284  2011-02-17  43.38  44.00  43.02  43.92   2621802.0      A  -35.891089
285  2011-02-18  43.85  44.29  43.65  43.92   4390204.0      A  -27.295285
286  2011-02-22  43.27  43.75  42.39  42.49   4143670.0      A  -27.295285
287  2011-02-23  42.56  42.75  39.94  40.45   7074246.0      A  -62.779156
288  2011-02-24  40.34  41.55  40.18  41.15   4455785.0      A -100.000000
289  2011-02-25  41.20  42.41  41.13  42.36   4297547.0      A  -84.682713
290  2011-02-28  42.43  42.65  41.36  42.08   3070285.0      A  -58.205689
291  2011-03-01  41.98  42.49  40.65  40.68   4091353.0      A  -64.332604
292  2011-03-02  40.57  41.57  40.36  41.46   3377301.0      A  -94.967177
293  2011-03-03  42.12  43.14  42.12  42.82   4358009.0      A  -77.899344
294  2011-03-04  43.35  46.81  43.35  46.75  13352819.0      A  -48.140044
295  2011-03-07  46.26  46.80  45.38  45.87   7408538.0      A   45.161290
296  2011-03-08  46.01  46.21  45.68  45.97   3897454.0      A  -13.968254
297  2011-03-09  45.65  46.05  44.60  46.05   3484512.0      A  -12.380952
298  2011-03-10  45.36  45.71  44.72  44.88   4855985.0      A  -11.111111
299  2011-03-11  45.07  45.50  43.90  45.34   4441927.0      A  -29.682540

[300 rows x 8 columns]

In [29]:
def Williams_R(dataframe, period):
    '''
    Williams %R
    Calculates fancy shit for late usage. Nice!

    EXAMPLE USAGE:
    data = pandas.read_csv("./data/ALL.csv", sep=",",header=0,quotechar='"')
    wr = Williams_R(data)
    print(wr)

    '''
    wr = []
    for stock in dataframe['Symbol'].unique():
        all_prices = list(dataframe[dataframe['Symbol'] == stock]['Close'])
        for i in range(period):
            wr.append(None) # because proc can't be calculated until period prices have occured
            
        for i in range(period-1,len(all_prices)-1):
            C = all_prices[i]
            H = max(all_prices[i-period+1:i])
            L = min(all_prices[i-period+1:i])
            wr.append(
                ((H - C) 
                 / (H - L)) * -100
            )
        return wr
    dataframe["WR"] = wr
    return dataframe

In [3]:
wr = Williams_R(data,14)
print(wt)

/usr/lib/python3/dist-packages/ipykernel/__main__.py:124: RuntimeWarning: divide by zero encountered in double_scalars
/usr/lib/python3/dist-packages/ipykernel/__main__.py:124: RuntimeWarning: invalid value encountered in double_scalars

NameError: name 'wt' is not defined

In [6]:
print(wr)

              Date   Open   High    Low  Close     Volume Symbol          WR
0       2010-01-04  31.39  31.63  31.13  31.30  2729240.0      A         NaN
1       2010-01-05  31.21  31.22  30.76  30.96  2994237.0      A         NaN
2       2010-01-06  30.85  31.00  30.76  30.85  2320299.0      A         NaN
3       2010-01-07  30.78  30.82  30.50  30.81  2213927.0      A         NaN
4       2010-01-08  30.64  30.85  30.40  30.80  2670856.0      A         NaN
5       2010-01-11  30.88  31.05  30.67  30.82  3420258.0      A         NaN
6       2010-01-12  30.56  30.65  30.22  30.45  2053677.0      A         NaN
7       2010-01-13  30.47  30.78  30.05  30.69  2445558.0      A         NaN
8       2010-01-14  30.59  31.24  30.50  31.15  4408930.0      A         NaN
9       2010-01-15  31.22  31.36  30.33  30.43  3309434.0      A         NaN
10      2010-01-19  30.36  30.83  30.35  30.80  2549092.0      A         NaN
11      2010-01-20  30.53  30.67  30.19  30.63  3282598.0      A         NaN
12      2010-01-21  31.00  31.11  30.18  30.52  4350005.0      A         NaN
13      2010-01-22  30.35  30.35  29.09  29.17  3049371.0      A         NaN
14      2010-01-25  29.42  29.65  29.23  29.45  2581167.0      A -244.827586
15      2010-01-26  29.37  29.50  28.98  29.29  1929019.0      A  -85.858586
16      2010-01-27  29.20  29.29  28.73  29.17  3120255.0      A  -93.939394
17      2010-01-28  29.13  29.37  28.49  28.69  3532089.0      A -100.000000
18      2010-01-29  28.93  29.17  27.92  28.03  4236738.0      A -124.242424
19      2010-02-01  28.16  29.32  28.13  29.13  4001809.0      A -126.829268
20      2010-02-02  29.22  29.59  29.09  29.50  4209397.0      A  -64.743590
21      2010-02-03  29.39  29.89  29.36  29.54  4353100.0      A  -52.884615
22      2010-02-04  29.30  29.45  28.94  29.07  4744169.0      A  -51.602564
23      2010-02-05  28.91  29.26  28.18  29.17  6828734.0      A  -62.454874
24      2010-02-08  29.21  29.68  29.13  29.20  4952879.0      A  -58.844765
25      2010-02-09  29.53  29.72  29.18  29.41  3684273.0      A  -55.000000
26      2010-02-10  29.46  29.49  28.88  29.25  2328789.0      A  -44.578313
27      2010-02-11  29.25  29.61  28.77  29.36  4994537.0      A  -19.205298
28      2010-02-12  30.65  30.74  29.57  29.98  8195874.0      A  -11.920530
29      2010-02-16  30.24  30.34  29.97  30.25  4692010.0      A   29.139073
...            ...    ...    ...    ...    ...        ...    ...         ...
813602  2017-04-21  54.23  54.38  54.00  54.19  2124663.0    ZTS   33.587786
813603  2017-04-24  54.68  55.15  54.59  54.99  2770642.0    ZTS   -5.714286
813604  2017-04-25  55.12  55.16  54.70  55.12  4346140.0    ZTS   40.000000
813605  2017-04-26  55.15  55.68  55.08  55.57  2665816.0    ZTS    5.306122
813606  2017-04-27  55.66  56.65  55.52  56.46  2986421.0    ZTS   17.441860
813607  2017-04-28  56.46  56.62  56.08  56.11  3341793.0    ZTS   29.372937
813608  2017-05-01  56.14  56.56  56.03  56.28  3607817.0    ZTS   -9.408602
813609  2017-05-02  56.29  56.53  55.89  56.47  3728559.0    ZTS   -4.986150
813610  2017-05-03  56.09  56.40  55.50  55.59  5795937.0    ZTS    0.297619
813611  2017-05-04  55.48  59.60  55.48  58.87  6923157.0    ZTS  -26.112760
813612  2017-05-05  58.76  59.61  58.48  59.47  6896027.0    ZTS   80.808081
813613  2017-05-08  59.39  59.74  58.30  58.81  3160708.0    ZTS   11.278195
813614  2017-05-09  58.80  59.69  58.55  59.43  3130507.0    ZTS  -11.743772
813615  2017-05-10  58.99  60.12  58.99  59.90  4052762.0    ZTS   -0.757576
813616  2017-05-11  59.68  59.89  59.25  59.72  3175456.0    ZTS    8.143939
813617  2017-05-12  60.03  60.19  59.57  59.88  3425146.0    ZTS   -3.665988
813618  2017-05-15  59.77  60.07  59.56  60.00  2319379.0    ZTS   -0.418410
813619  2017-05-16  60.24  60.38  59.90  60.33  1816297.0    ZTS    2.309469
813620  2017-05-17  59.86  60.19  59.69  59.73  2397563.0    ZTS    7.482993
813621  2017-05-18  59.73  60.29  59.61  59.91  1583662.0    ZTS  -12.658228
813622  2017-05-19  59.98  60.61  59.94  60.31  2567745.0    ZTS   -8.860759
813623  2017-05-22  60.39  60.88  60.28  60.31  3117309.0    ZTS   -0.421941
813624  2017-05-23  60.50  61.46  60.50  61.43  3330549.0    ZTS   -0.421941
813625  2017-05-24  61.43  62.48  61.39  62.30  3869148.0    ZTS   72.368421
813626  2017-05-25  62.56  62.64  62.17  62.58  2864917.0    ZTS   33.206107
813627  2017-05-26  62.78  63.11  62.38  62.61  1985460.0    ZTS    8.022923
813628  2017-05-30  62.45  62.70  61.86  62.26  2884394.0    ZTS    0.952381
813629  2017-05-31  62.58  62.70  62.10  62.28  3789807.0    ZTS  -12.110727
813630  2017-06-01  62.45  62.64  61.99  62.64  3112530.0    ZTS  -11.418685
813631  2017-06-02  62.78  63.30  62.39  62.50  4110099.0    ZTS    1.041667

[813632 rows x 8 columns]

In [57]:
print(data.head(5000))

            Date   Open   High    Low  Close       Volume Symbol        RSI  \
0     2010-01-04  31.39  31.63  31.13  31.30    2729240.0      A        NaN
1     2010-01-05  31.21  31.22  30.76  30.96    2994237.0      A        NaN
2     2010-01-06  30.85  31.00  30.76  30.85    2320299.0      A        NaN
3     2010-01-07  30.78  30.82  30.50  30.81    2213927.0      A        NaN
4     2010-01-08  30.64  30.85  30.40  30.80    2670856.0      A        NaN
5     2010-01-11  30.88  31.05  30.67  30.82    3420258.0      A        NaN
6     2010-01-12  30.56  30.65  30.22  30.45    2053677.0      A        NaN
7     2010-01-13  30.47  30.78  30.05  30.69    2445558.0      A        NaN
8     2010-01-14  30.59  31.24  30.50  31.15    4408930.0      A        NaN
9     2010-01-15  31.22  31.36  30.33  30.43    3309434.0      A        NaN
10    2010-01-19  30.36  30.83  30.35  30.80    2549092.0      A        NaN
11    2010-01-20  30.53  30.67  30.19  30.63    3282598.0      A        NaN
12    2010-01-21  31.00  31.11  30.18  30.52    4350005.0      A        NaN
13    2010-01-22  30.35  30.35  29.09  29.17    3049371.0      A        NaN
14    2010-01-25  29.42  29.65  29.23  29.45    2581167.0      A  29.847495
15    2010-01-26  29.37  29.50  28.98  29.29    1929019.0      A  31.065760
16    2010-01-27  29.20  29.29  28.73  29.17    3120255.0      A  30.995475
17    2010-01-28  29.13  29.37  28.49  28.69    3532089.0      A  28.189300
18    2010-01-29  28.93  29.17  27.92  28.03    4236738.0      A  24.863884
19    2010-02-01  28.16  29.32  28.13  29.13    4001809.0      A  37.177542
20    2010-02-02  29.22  29.59  29.09  29.50    4209397.0      A  42.792109
21    2010-02-03  29.39  29.89  29.36  29.54    4353100.0      A  41.001565
22    2010-02-04  29.30  29.45  28.94  29.07    4744169.0      A  33.750000
23    2010-02-05  28.91  29.26  28.18  29.17    6828734.0      A  39.100346
24    2010-02-08  29.21  29.68  29.13  29.20    4952879.0      A  35.294118
25    2010-02-09  29.53  29.72  29.18  29.41    3684273.0      A  38.868613
26    2010-02-10  29.46  29.49  28.88  29.25    2328789.0      A  38.517179
27    2010-02-11  29.25  29.61  28.77  29.36    4994537.0      A  52.214452
28    2010-02-12  30.65  30.74  29.57  29.98    8195874.0      A  55.723542
29    2010-02-16  30.24  30.34  29.97  30.25    4692010.0      A  60.126582
...          ...    ...    ...    ...    ...          ...    ...        ...
4970  2012-10-02  94.54  95.19  92.95  94.47  156997638.0   AAPL  46.216385
4971  2012-10-03  94.98  95.98  94.66  95.92  106069719.0   AAPL  44.694534
4972  2012-10-04  95.89  96.32  95.08  95.26   92688813.0   AAPL  38.389887
4973  2012-10-05  95.03  95.14  93.04  93.23  148501108.0   AAPL  28.724747
4974  2012-10-08  92.41  92.51  90.87  91.17  159494867.0   AAPL  24.147727
4975  2012-10-09  91.24  91.50  89.08  90.84  209648887.0   AAPL  23.575419
4976  2012-10-10  91.39  92.14  91.00  91.56  127588930.0   AAPL  27.247656
4977  2012-10-11  92.40  92.50  89.70  89.70  136520097.0   AAPL  23.951491
4978  2012-10-12  89.94  90.77  89.33  89.96  115003665.0   AAPL  26.709402
4979  2012-10-15  90.34  90.73  89.12  90.68  108124961.0   AAPL  33.686690
4980  2012-10-16  90.77  92.90  90.14  92.83  137442816.0   AAPL  43.868450
4981  2012-10-17  92.70  93.26  92.00  92.09   97327643.0   AAPL  34.004884
4982  2012-10-18  91.37  91.72  90.00  90.38  119155512.0   AAPL  34.682441
4983  2012-10-19  90.15  90.25  87.09  87.12  186021017.0   AAPL  30.570801
4984  2012-10-22  87.49  90.77  87.25  90.58  136682392.0   AAPL  40.915460
4985  2012-10-23  90.14  90.56  87.39  87.62  176786197.0   AAPL  31.893543
4986  2012-10-24  88.78  89.51  87.23  88.12  139631772.0   AAPL  34.314587
4987  2012-10-25  88.57  88.86  86.51  87.08  164081393.0   AAPL  35.875057
4988  2012-10-26  87.06  87.71  84.43  86.29  254605834.0   AAPL  38.097561
4989  2012-10-31  84.98  85.99  83.96  85.05  127500471.0   AAPL  36.478281
4990  2012-11-01  85.46  86.14  84.88  85.22   90361922.0   AAPL  34.803452
4991  2012-11-02  85.13  85.28  82.11  82.40  149843064.0   AAPL  33.272227
4992  2012-11-05  83.36  83.97  82.51  83.52  132321224.0   AAPL  35.802469
4993  2012-11-06  84.32  84.39  82.87  83.26   93729041.0   AAPL  33.303330
4994  2012-11-07  81.98  82.08  79.39  79.71  198412186.0   AAPL  22.226926
4995  2012-11-08  80.09  80.32  76.47  76.82  264036339.0   AAPL  20.372526
4996  2012-11-09  77.20  79.27  76.25  78.15  232476496.0   AAPL  25.915715
4997  2012-11-12  79.16  79.21  76.95  77.55  128950479.0   AAPL  28.948526
4998  2012-11-13  76.99  78.64  76.62  77.56  133302610.0   AAPL  16.234440
4999  2012-11-14  77.93  78.21  76.60  76.70  119291977.0   AAPL  18.218859

          PROC
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14   -0.059105
15   -0.053941
16   -0.054457
17   -0.068809
18   -0.089935
19   -0.054835
20   -0.031199
21   -0.037471
22   -0.066774
23   -0.041407
24   -0.051948
25   -0.039830
26   -0.041612
27    0.006514
28    0.017997
29    0.032776
...        ...
4970 -0.012646
4971 -0.016911
4972 -0.035342
4973 -0.067420
4974 -0.090755
4975 -0.094317
4976 -0.082657
4977 -0.103090
4978 -0.088366
4979 -0.057576
4980 -0.023151
4981 -0.053837
4982 -0.051626
4983 -0.075159
4984 -0.041177
4985 -0.086530
4986 -0.074953
4987 -0.065966
4988 -0.053526
4989 -0.063738
4990 -0.069244
4991 -0.081382
4992 -0.071587
4993 -0.081826
4994 -0.141334
4995 -0.165816
4996 -0.135318
4997 -0.109848
4998 -0.143740
4999 -0.124629

[5000 rows x 9 columns]